.git
.DS_Store

venv/
.venv/
backend/venv/
backend/.venv/
**/__pycache__/
**/*.py[cod]

frontend/node_modules/
frontend/dist/

backend/video_service/storage/
backend/video_service/temp/

.env
backend/.env
frontend/.env
